In [9]:
import pandas as pd
from functions import get_all_data

In [10]:
data_movie, data_rarting, data_user = get_all_data()
print(data_movie.shape)
data_movie.head()

(1682, 24)

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
#Analisando primeiramente dos dados do filme
#Verificando dados nulos
data_movie.isna().sum()

movie_id                 0
movie_title              0
release_date             1
video_release_date    1682
IMDb_URL                 3
unknown                  0
Action                   0
Adventure                0
Animation                0
Children                 0
Comedy                   0
Crime                    0
Documentary              0
Drama                    0
Fantasy                  0
Film_Noir                0
Horror                   0
Musical                  0
Mystery                  0
Romance                  0
Sci-Fi                   0
Thriller                 0
War                      0
Western                  0
dtype: int64

In [12]:
#A coluna video_release_date estÃ¡ completamente vazia, entÃ£o vai ser retirada

data_movie_copy = data_movie.copy()
data_movie_copy = data_movie_copy.drop("video_release_date", axis=1)
data_movie_copy.head()

,movie_id,movie_title,release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children,Comedy,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [16]:
#Alguns IMDb_URL nÃ£o possuem valor, mas como a url possue um padrÃ£o Ã© possivel gerar resultados para ela
#Foi identificado que um dos filmes nÃ£o possui valores, entÃ£o vais ser excluido antes da opereÃ§Ã£o
data_movie_copy.drop(266)
data_index_na_imbd_url = data_movie_copy.loc[data_movie_copy.isna().any(axis=1), "IMDb_URL"]
data_na_imbd_url = data_movie_copy.loc[data_index_na_imbd_url.index]
data_na_imbd_url.head()

,movie_id,movie_title,release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children,Comedy,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
266,267,unknown,NaN,http://us.imdb.com/M/title-exact?unknown,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
#FunÃ§Ã£o que cria as urls com base no titulo para depois substituir no dataset
def build_url(title):
    base_url = "http://us.imdb.com/M/title-exact?"
    title_words = title.split(" ")
    
    for word in title_words[0:-1]:
        base_url += "{}%20".format(word)
    base_url += title_words[-1]
    return base_url

def fill_na_imbd_url(data):
    data_result = data.apply(lambda movie: build_url(title=movie["movie_title"]), axis=1)
    return data_result

data_imbd_result = fill_na_imbd_url(data_na_imbd_url)
indexes = data_imbd_result.index

data_movie_copy.loc[data_movie_copy.isna().any(axis=1), "IMDb_URL"] = data_imbd_result
data_movie_copy.loc[indexes]

,movie_id,movie_title,release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children,Comedy,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
266,267,unknown,NaN,http://us.imdb.com/M/title-exact?unknown,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1357,1358,The Deadly Cure (1996),16-Sep-1996,http://us.imdb.com/M/title-exact?The%20Deadly%...,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1358,1359,Boys in Venice (1996),24-Sep-1996,http://us.imdb.com/M/title-exact?Boys%20in%20V...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
data_movie_copy.loc[data_movie_copy.isna().any(axis=1)]

,movie_id,movie_title,release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children,Comedy,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
266,267,unknown,NaN,http://us.imdb.com/M/title-exact?unknown,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0